{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <h1>Bienvenue sur votre profil, {{ user.username }} !</h1>
    
    <div class="card mt-4">
        <div class="card-body">
            <p><strong>Email :</strong> {{ user.email }}</p>
            {# On a enlevé la ligne qui demandait controller_name #}
        </div>
    </div>
{% endblock %}